Repository jdfalk/puppet-thanos, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, configuration, scripts, github-actions, dependencies, security

.github/labeler.yml:

# file: .github/labeler.yml
# version: 1.0.0
# guid: 5a6b7c8d-9e0f-1234-5678-90abcdef1234

# Documentation
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.md"
          - "docs/**/*"

# Configuration
configuration:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.yml"
          - "**/*.yaml"
          - "**/*.json"
          - "**/*.toml"
          - "**/*.ini"
          - "**/*.conf"
          - "**/Dockerfile*"
          - "**/.env*"

# Scripts
scripts:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.sh"
          - "**/*.py"
          - "scripts/**/*"

# GitHub Actions
github-actions:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/workflows/**/*"
          - ".github/actions/**/*"

# Dependencies
dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - "**/go.mod"
          - "**/go.sum"
          - "**/package.json"
          - "**/package-lock.json"
          - "**/yarn.lock"
          - "**/requirements.txt"
          - "**/Pipfile*"
          - "**/poetry.lock"
          - "**/pyproject.toml"

# Security
security:
  - changed-files:
      - any-glob-to-any-file:
          - "**/.github/workflows/**"
          - "**/Dockerfile*"
          - "**/*security*"
          - "**/*auth*"
          - "**/*secret*"

feat: Add GolangCI-Lint configuration file for improved code quality checks
  .golangci.yml
Labels: configuration

Remove Trivy - compromised supply chain
  .github/security-guidelines.md
Labels: documentation, security

Remove Trivy - compromised supply chain
  .github/security-guidelines.md
Labels: documentation, security

chore: update ghcommon workflow refs to v1.10.4
  .github/workflows/pr-automation.yml
  .github/workflows/unified-automation.yml
Labels: configuration, github-actions, security

chore: update ghcommon workflow refs to v1.10.4
  .github/workflows/pr-automation.yml
  .github/workflows/unified-automation.yml
Labels: configuration, github-actions, security
